.App {
  text-align: center;
}

body {
  background: black;
  color: #e0c8c8;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*настройки цвета для ActivityTypeTab */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { 
  background: #e0c8c8;
  color: black;  
}
.nav-item button{
  color: #e0c8c8;
  text-decoration: none;  
}
.nav-item button:hover{
  color: #e0c8c8;
  text-decoration: none;    
}
/*---------------------------------*/

/*настройки для  navbar */
.navbar a{
  color: #e0c8c8;
  text-decoration: none;  
}
.navbar a:hover{  
  text-decoration: none;
  text-shadow: 1px 1px 15px rgb(250, 250, 250);  
}

.navbar-nav a{
  padding: 1vw;
  text-align: center;
}

/*---------------------------------*/

/* Настройка размеров изображения в основной карусели */
.w-100 {
  width: 100% !important;
  height: 90vh;
}
/*---------------------------------*/

.Nav.Link {
  padding: 40px;
}

h2, h3{
  text-align: center;
  color: #e0c8c8;
  margin: 5vh 0;
}

.btn-primary {
margin: 0 3vw;
padding: 10px;
}

.directionsTab {
  margin: 0 auto 50px auto;
  width: 80vw;
}

.directionsTab .card {
  width: 50vw;
  margin: 20px auto;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {  
  color: #e0c8c8; 
}

.table {  
  color: #e0c8c8;
  --bs-table-hover-color: #e0c8c8;
}

footer p{
  color: #6d6b6b;
  padding: 0px 0 0 20px;
  margin: 2px;
}

.gap300 {
  margin: 300px 0px;
}

.gap200 {
  margin: 100px 0px;
}

.gap100 {
  margin: 100px 0px;
}

a {
  transition: 0.5s;
}

.aboutDiv { 
  text-align: center;  
  margin: 10px auto;
}

.aboutDiv img {
  width: 70vw; 
  border-radius: 30px; 
  margin: 0 auto 30px auto; 
}

.descriptionP{
  margin: 3vh 10vw;
  text-align: justify
}
.cardTemplate {
  color:#282c34
}

.cardButtons{
  text-align: center;
}

#cardButtonDetailedInfo{
  margin: -1vh 0;
  width: 60%;
}


#detailedInfoButton {
  margin: 1vh 1vw;
  width: 60%;
}

.carouselH3 {
  color: #ebebeb;
  text-shadow: 1px 1px 5px #282c34;
}

.btn-dark{
  margin: 0.5vh 2vw 3vh 2vw;
}

#bookingForm {
  width: 40vw;
  margin: 10px auto;  
}

#bookingForm input{
  padding: 10px;
  margin: 3vh 1vh;
}

#bookingForm select{
  padding: 10px;
  margin: 3vh 1vh;
}

#bookingForm p{
  padding: -10px; 
  margin: -3vh 0 0 1vh ; 
  color: rgb(223, 5, 5);
}

#bookingForm input:invalid{
border: 2px solid red;  
}

input:invalid{
  border: red solid 2px;
  color: rgb(224, 42, 42);
}


#selectDisabled {
  background-color: #5b5b5c;
}

#CardTemplateDetailInfo {
  text-align: justify;
  margin: 4px;
}

#cardFavorite{
  width: 60vw;  
  color:#282c34;  
  margin: 6vh auto;
}

#cardCart {
  margin: 3vh;
  color:#282c34;  
  padding: 0px;
}
#cardCart input{
  margin: 1.5vh 0 0 0;
}

#deleteFromCartButton{
  margin: 10px auto;
}

hr {
  height: 3px;
  background: #e0c8c8;
  margin: 30px 0;
}

#CartCardPrice {
  color: #ebebeb;
  font-size: 16pt;
}

#orderButton{
  width: 50vw;
  height: 60px;
  margin: 2vh 0 5vh 0;
}

#cardButtons{
  width: 100%;
  height: 80px;
  margin: 1.5vh 0;
}

.errorInput p{
  color: red;
  margin: 0 0 -2vh 0;
  padding: 0;
}

#H4totalCost {
  margin: 0 0 2vh 0;
  text-align: center;
}

#greenP {
  color: green;
}

#feedbackP {
  text-align: center;
  margin: 3vw;
  font-size: 12pt;
}

#feedbackButton{
  width: 100%;
}







